#libSection{
  width: 600px;
  /*background-image: url("images/site-image/iphone.png");
  background-size: 50px;*/
  /*color: white;*/
  font-family: sans-serif;
/*doesn't work*/
  /*display: inline;*/
}
/*li{
  decoration: none;
}*/

.table{
  display:none;
}

main {
  position: relative;
}

.tableOn{
  display:block;
  box-sizing: border-box;
  border:3px solid white;
  border-color: white
  float: right;
  width: 400px;
  background-color: rgb(204,48,125);
  border-radius: 6px;
  position: fixed;
  top:50px;
  left:68%
}

  button{
    padding: 10px 15px 10px 15px;
    background-color: rgb(204,48,125);
    color: white;
    border-radius: 6px;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    bottom: 100px
    left: 300px
    color:transparent !important;
    text-shadow:none !important;
    border:none !important;
    box-shadow:none !important;
    font-family: sans-serif;
  }

th{
  color: white;
  font-family: sans-serif;
  font-size: 18px;
}

.emoji {
  width:30px;
}
/*
Why do i need this? Should just use text*/
/*.noun{
    width:20px;
    box-sizing: border-box;
    margin:auto;
    border-bottom: 1px solid;
    border-color: rgb(204,48,125);
    color: black;
  }*/

  .text{
  width:20px;
  box-sizing: border-box;
  border-bottom: 1px solid;
  border-color: black;
  /*color: black;*/
    }

    /*.verb{
      width:20px;
    }

/*.wordOffEmogiOn{
  border-bottom: none;
}*/

/*span{
    width:20px;
  }*/



    .textMessage {
      width: 450px;
      color: black;
      border: 20px solid rgb(231,232,234);
      position: relative;
      background-color: rgb(231,232,234);
      margin-bottom: 50px;
      border-radius: 20px;
    }
/*triangle at bottom*/
    .textMessage::before {
      content: "";
      width: 0px;
      height: 0px;
      border: 40px solid rgb(231,232,234);
      border-top-color: rgb(231,232,234);
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
      border-right-width: 15px;
      border-left-width: 15px;
      position: absolute;
      bottom: -90px;
      /*right: 10%;*/
      margin-left: 420px;
  }
      .brad{
        background-color: rgb(14,116,255);
        border: 20px solid rgb(14,116,255);
        color: white;
  }
      .brad::before {
        border: 40px solid rgb(14,116,255);
        border-top-color: rgb(14,116,255);
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
        border-right-width: 15px;
        border-left-width: 15px;
        margin-left: 0px;
    }
    .textBrittney{
        margin-top: -35px;
        margin-left: 380px;
        margin-bottom: 10px;
        height: 18px;
    }
    .textBrad{
        margin-top: -35px;
        margin-left: 50px;
        margin-bottom: 10px;
        height: 18px;
    }
