section{
  width: 500px;
  /*background-image: url("images/site-image/iphone.png");
  background-size: 50px;*/
  /*color: white;*/
  font-family: sans-serif;
/*doesn't work*/
  /*display: inline;*/
}


.table{
  display:none;
}
.tableOn{
  display:block;
  box-sizing: border-box;
  border:3px solid white;
  border-color: white
  display: none;
  /*doesn't work*/
  float: right;
  width: 400px;
  background-color: rgb(204,48,125);
  border-radius: 6px;
  /*does not work*/
  /*position: relative;
  right: 400px;*/
}

button{
  padding: 10px 15px 10px 15px;
  background-color: rgb(204,48,125);
  color: white;
  border-radius: 6px;
  text-decoration: none;
  font-size: 18px;
  position: relative;
  bottom: 100px
  left: 300px
  color:transparent !important;
  text-shadow:none !important;
  border:none !important;
  box-shadow:none !important;
  font-family: sans-serif;
}

th{
  color: white;
  font-family: sans-serif;
  font-size: 18px;
}

.emoji {
  width:40px;
}

/*
These do not work*/
.noun{
    width:20px;
    box-sizing: border-box;
    margin:auto;
    border-bottom: 1px solid;
    border-color: rgb(204,48,125);
    /*border-radius: 6px;*/
    /*background-color: rgb(204,48,125);*/
    color: black;
    /*padding: 0.5px 1px 0.5px 1px;*/
  }
.wordOffEmogiOn{
  color: black;
}

.verb{
    width:20px;
  }
span{
    width:20px;
  }
